<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dynamic</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<div>
    <h2>{{session}}</h2>
    <table border="1">
        <tr class="title">
            <td>Название фильма</td>
            <td>Дата Сеанса</td>
            <td>Зал</td>
        </tr>
        {% for session in sessions %}
        <tr>
            <td>{{session.f_name}}</td>
            <td>{{session.date_of_session}}</td>
            <td>{{session.name}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>